* {
    outline: 1px solid tomato;
}

.inner {
    width: 1170px;
    margin: 0 auto;
}

.Header {
    font-family: "montserrat";

    .top_menu {
        border-bottom: 1px solid rgb(233, 233, 233);
        padding: 10px 0;

        .rt {
            display: flex;
            gap: 15px;
            justify-content: flex-end;

            li {
                font-size: 12px;
            }
        }
    }

    .menu {
        h1 {
            width: 200px;
            padding: 23px 0;
            margin: 0 auto;
        }

        nav {
            display: flex;

            ul {
                display: flex;
                gap: 80px;
                line-height: 50px;
                margin: 0 auto;

                li {
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
    }
}

.Home {
    img {
        cursor: pointer;
    }
}

.About {
    .slogan {
        font-family: "montserrat";
        font-size: 43px;
        font-weight: 700;
        text-align: center;
        padding: 40px 0;
    }

    .aboutInfo {
        display: flex;
        gap: 15px;
        font-size: 15px;

        li {
            flex: 1;

            div {
                strong {
                    font-weight: 600;
                }

                p {
                    line-height: 27px;
                    color: rgb(109, 109, 109);
                }
            }
        }

        .sns {
            .message {
                margin-bottom: 25px;
            }
        }

        .service {
            .email {
                margin-bottom: 25px;
            }
        }
    }

}

.Shop {
    padding: 50px 0;

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 33.3333%;
            padding: 20px;
            text-align: center;

            img {
                border: 1px solid #ddd;
                margin-bottom: 15px;
            }

            .tit {
                font-size: 15px;
                font-weight: 600;
                text-align: center;
                margin-bottom: 10px;
            }

            .price {
                font-size: 13px;
                text-align: center;
                margin-bottom: 10px;
            }

            .new {
                padding: 5px 10px;
                background: #000;
                border: 1px solid #000;
                color: #fff;
                font-size: 11px;
                text-align: center;
            }

            .best {
                padding: 5px 10px;
                color: tomato;
                border: 1px solid tomato;
                font-size: 11px;
                text-align: center;
            }
        }

        li:nth-child(1) {
            .best {
                display: none;
            }
        }

        li:nth-child(2) {
            .best {
                display: none;
            }
        }

        li:nth-child(3) {
            .new {
                display: none;
            }
        }

        li:nth-child(4) {
            .new {
                display: none;
            }
        }

        li:nth-child(5) {
            .new {
                display: none;
            }

            .best {
                display: none;
            }
        }

        li:nth-child(6) {
            .new {
                display: none;
            }

            .best {
                display: none;
            }
        }

        li:nth-child(7) {
            .new {
                display: none;
            }
        }

        li:nth-child(8) {
            .new {
                display: none;
            }

            .best {
                display: none;
            }
        }
    }
}

.Footer {
    font-family: "montserrat";
    border-top: 1px solid rgb(233, 233, 233);
    margin-bottom: 0;
    padding: 50px 0;

    .container {
        font-size: 12px;
        color: rgb(148, 148, 148);

        .logo {
            margin: 0 auto 15px auto;
            width: 80px;
        }

        .copyRight {
            margin-bottom: 10px;

            p {
                text-align: center;
            }
        }

        .info {
            align-items: center;

            ul {
                display: flex;
                justify-content: space-between;
                padding: 0 120px;
            }
        }
    }
}